<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Coucou <%= @user.first_name %> et bienvenue sur mon super site !</h1>
    <p>
      Tu viens de t'inscrire sur monsite.fr avec l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
      Pour accéder à ton espace, connecte-toi via : 
    </p>
    <p> À très vite sur monsite.fr !!!!!
  </body>
</html>