<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.first_name %> <%= @user.last_name %>, tu viens de créer un évenement ! </h1>
    <p>
     Tu as créé un évenement sur Evenbrite nommé : <%= @attendance.event.title %> Nous t'en remercions.
    </p>
    <p>
     N'hésite pas à venir checker le site pour en organiser d'autre !
    </p>
    <p> À très vite sur monsite.fr !
  </body>
</html>