<center>
<h2>Merci pour ton achat d'un montant de : <strong>$5.00</strong>!</h2>
<img src="https://media.giphy.com/media/JpG2A9P3dPHXaTYrwu/giphy.gif" atl="money"><br/>
<a class="btn btn-secondary" <%= link_to "Retour à l'acceuil", event_index_path %></a>